* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

:root {
  font-size: 11px;
  font-family: 'Spartan', sans-serif;
}

a {
  color: #3e52a3;
}

body {
  overflow: hidden;
  position: relative;
}

.bg-desktop1, .bg-desktop2 {
  position: absolute;
  z-index: 1;
}

.bg-desktop2 {
  -webkit-transform: translate(45%, 11%);
          transform: translate(45%, 11%);
}

@media only screen and (max-width: 800px) {
  body {
    overflow: visible;
  }
  .bg-desktop1, .bg-desktop2 {
    display: none;
  }
}

.contenedor {
  width: 100%;
  height: 750px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "texto-usuarios stars" "gif-cards gif-cards";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: 12rem 18.5rem;
}

.contenedor .texto-usuarios {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: texto-usuarios;
  z-index: 5;
}

.contenedor .texto-usuarios h1 {
  width: 75%;
  font-weight: 700;
  font-size: 4.2rem;
  color: #502050;
  line-height: 4.3rem;
}

.contenedor .texto-usuarios p {
  margin-top: 1.3rem;
  width: 80%;
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: #502050;
  font-weight: 400;
}

@media only screen and (max-width: 8000px) {
  .contenedor .texto-usuarios p {
    width: 100%;
  }
  .contenedor .texto-usuarios h1 {
    width: 100%;
  }
}

.contenedor .stars {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: stars;
  z-index: 5;
}

.contenedor .stars .caja-stars {
  width: 80%;
  border-radius: 1rem;
  background-color: #f9f0f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  padding: 1.5rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
  padding-right: 2rem;
}

.contenedor .stars .caja-stars .estrellas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-right: 3rem;
}

.contenedor .stars .caja-stars .estrellas img {
  width: 16px;
  height: 16px;
}

.contenedor .stars .caja-stars p {
  color: #502050;
  padding-top: 0.5rem;
  font-weight: bold;
  font-size: 14px;
}

.contenedor .stars .caja-stars-dos {
  margin-left: 5rem;
  z-index: 5;
  margin-top: 1.5rem;
}

.contenedor .stars .caja-stars-tres {
  margin-left: 10rem;
  z-index: 5;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 800px) {
  .contenedor .stars .caja-stars {
    width: 100%;
    margin: 2rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 6rem;
    gap: 1rem;
  }
  .contenedor .stars .estrellas {
    margin: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}

@media only screen and (max-width: 800px) {
  .contenedor {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 3rem;
  }
}

.gif-cards {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: gif-cards;
  padding: 2rem 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gif-cards .gif-cards-uno, .gif-cards .gif-cards-dos, .gif-cards .gif-cards-tres {
  background-color: #502050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  padding: 3.5rem;
}

.gif-cards .gif-cards-uno .gif-cards-header, .gif-cards .gif-cards-dos .gif-cards-header, .gif-cards .gif-cards-tres .gif-cards-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.gif-cards .gif-cards-uno .gif-cards-header img, .gif-cards .gif-cards-dos .gif-cards-header img, .gif-cards .gif-cards-tres .gif-cards-header img {
  border-radius: 50%;
  width: 40px;
}

.gif-cards .gif-cards-uno .gif-cards-header .usuario p, .gif-cards .gif-cards-dos .gif-cards-header .usuario p, .gif-cards .gif-cards-tres .gif-cards-header .usuario p {
  font-size: 13px;
  color: #f7f2f7;
  font-weight: 700;
  margin-top: .5rem;
}

.gif-cards .gif-cards-uno .gif-cards-header .usuario p span, .gif-cards .gif-cards-dos .gif-cards-header .usuario p span, .gif-cards .gif-cards-tres .gif-cards-header .usuario p span {
  color: #7c467c;
}

.gif-cards .gif-cards-uno .gif-cards-section, .gif-cards .gif-cards-dos .gif-cards-section, .gif-cards .gif-cards-tres .gif-cards-section {
  margin-top: 2rem;
}

.gif-cards .gif-cards-uno .gif-cards-section p, .gif-cards .gif-cards-dos .gif-cards-section p, .gif-cards .gif-cards-tres .gif-cards-section p {
  color: #f7f2f7;
  font-size: 12.5px;
  line-height: 2rem;
}

.gif-cards .gif-cards-dos {
  margin-top: 4rem;
  margin-left: 1rem;
}

.gif-cards .gif-cards-tres {
  margin-top: 8rem;
  margin-left: 1rem;
}

@media only screen and (max-width: 800px) {
  .gif-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gif-cards-dos, .gif-cards-tres {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
}
/*# sourceMappingURL=app.css.map */